		<h5 align="right">View's filename: <i><b>about.erb</b></i></h5>
		<h3>Это специальный сервис для сохранения информации об ушедших людях.</h3>
		</br>
		<p>Здесь хранится информация о Ваших предках. Отсюда она может быть прочитана Вашими потомками. </p>
		<p>Сервис БУДЕТ позволять обмениваться информацией. Например, посылать информацию из одного акаунта в другой - рожственникам или близкии людям.</p>
		<p>Сервис БУДЕТ напоминать о приближении срока для помина ушедшего родственника. Здесь же можно БУДЕТ запустить специальный режим для поминального режима показа. С музыкой или без. С слайд-шоу и даже, возможно озвучкой от лица диктора или от лица поминаемого.</p>
		<p>Сервис БУДЕТ формировать гениалогические дерево для конкретного человека (при наличии необходимых связей между персонами). </p>
		<p>Возможно, сервис БУДЕТ анализировать информацию о всех введённых людях и находить параллельные записи об одной и той-же персоне у разных людей. Выявлять родственные связи между людьми. Формировать глобальное гениалогическое дерево всей цивилизации.</p>
		<p>Сервис потребует от каждого OWNER-а подписки - небольшая сумма (1 раз в год). При отсутствии подписки все данные остаются на хранении в системе, но возобновление доступа будет возможно лишь при погашении долга. Сумма подписки должна быть ближе к "символической" чем коммерческой.</p>
		<p>Сервис возможно БУДЕТ позволять каждому при жизни сформировать запись о себе и передачей её для своих потомков. Так можно оставить о себе память для детей, внуков, правнуков, ... </p>
		<p>Здесь можно БУДЕТ, как на алтаре, "поставить" все фотографии родственников и увидеть весь свой род.</p>
		</br>