		<h5 align="right">View's filename: <i><b>about.erb</b></i></h5>
		Hello!
		</br>
		</br>
		<a href=\"https://github.com/bootstrap-ruby/sinatra-bootstrap\">Original</a> pattern has been modified for <a href=\"http://rubyschool.us/\">Ruby School !!!</a>"