<h5 align="right">View's filename: <i><b>faq.erb</b></i></h5>
<h3>Вопросы и ответы.</h3>
</br>
		<p>
			<span class="bold"><b>Кто имеет доступ к информации? </b></span> 
			<span class="italics"><i>В своей основе и по-умолчанию информация хранится как персональная, т.е. обладает ею конкретный человек OWNER, который её сюда поместил. Он же имеет доступ для изменения этой информации. Вход в данный OWNER-акаунт возможен по OWNER-паролю. Кроме OWNER-a  никто не может изменить (ни добавить, ни удалить) эту информацию. Каждый отдельный OWNER не имеет доступа к записям других OWNER-ов.</i></span>
		</p>
		<p>
			<span class="bold"><b>Как показать информацию своим людям? </b></span> 
			<span class="italics"><i>Каждый OWNER имеет гостевой акаунт VISIT с паролем. Гостевой акаунт ограничен в возможностях и способен только просматривать информацию и копировать её. Изменить или ввести новые данные такой пользователь не может. Только OWNER имеет привилегию изменить  VISIT-пароль для гостей. Гость такой функцией не обладает. Передайте Логин и Пароль гостевого акаунта своим людям для доступа к Вашим записям. </i></span>
		</p>
		<p>
			<span class="bold"><b>Как ограничить информацию для своих людей? </b></span> 
			<span class="italics"><i>1. Смените пароль на гостевом акаунте и все гости потеряют доступ к Вашим записям. 2. Каждая запись Person имеет флаг видимости для гостя VISIT_VIEW. При разрешённом флаге - Гости видят эту персону, при запрещённом флаге - гости не видят её. </i></span>
		</p>
		<p>
			<span class="bold"><b>Как показать информацию для всего мира? </b></span> 
			<span class="italics"><i>Кажая запись Person имеет флаг ALL_VIEW. При разрещённом флаге - информация доступна для любого, кто защёл на этот ресурс, даже без регистрации.</i></span>
		</p>
		<p>
			<span class="bold"><b>Как защитится от взлома акаунта? </b></span> 
			<span class="italics"><i>Для этого дейтсвует двухфакторная аутентификация. Для защиты OWNER-акаунта, как обязательное условие, должен быть указан особый электронный почтовый ящик или номер телефона, который служит для подтверждения доступа (вход в акаунт) или в аварийно ситуации для восстановления доступа (сброса пароля).</i></span>
		</p>
		</br>

