		<h5 align="right">View's filename: <i><b>planes.erb</b></i></h5>
    <h4>My Planes of Deed:</h4>
		<ul>
		 <li>Контроллер для показа карточки отдельной персоны</li>
		 <li>Валидация данных "Персоны"</li>
		 <li></li>
		 <li>Блок самой простой авторизации</li>
		 <li>Изменяемый нави-бар (зависимый от авторизации)</li>
		 <li>Загрузка изображения (файла)</li>
		 <li>Отображение фотографии (в таблице, в карточки персоны)</li>
		 <li></li>
		 <li></li>
		</ul>