		<h5 align="right">View's filename: <i><b>planes.erb</b></i></h5>
    <h4>My Planes of Deed:</h4>
		<ul>
		 <li>Ok - Контроллер для показа карточки отдельной персоны</li>
		 <li>Редактирование данных отдельной персоны</li>     
		 <li>Валидация данных "Персоны"</li>
		 <li>Удаление данных персоны (перенос в таблицу воспоминания)</li>
		 <li>Блок самой простой авторизации</li>
		 <li>Изменяемый нави-бар (зависимый от авторизации)</li>
		 <li>Загрузка изображения (файла)</li>
		 <li>Ok - Отображение фотографии (в таблице, в карточки персоны)</li>
		 <li>Доработка модели person - добвление полей: пол, место рождения, место могилы</li>
		 <li>Создание таблицы Категория (родственник, близкий, знакомый, временный)</li>
		 <li>Продумай связи Категорий и Персон через Юзера</li>
		 <li></li>
		 <li></li>
		 <li></li>
		 <li></li>
		</ul>