<h3>My Planes of Deed</h3> <!-- planes.erb -->
		<ul>
		 <li>Контроллер для показа карточки отдельной персоны</li>
		 <li>Валидация данных "Персоны"</li>
		 <li></li>
		 <li>Блок самой простой авторизации</li>
		 <li>Изменяемый нави-бар (зависимый от авторизации)</li>
		 <li>Загрузка изображения (файла)</li>
		 <li>Отображение фотографии (в таблице, в карточки персоны)</li>
		 <li></li>
		 <li></li>
		</ul>